body{
    font-family: tahoma, arial, sans-serif;
    margin:auto;
    width: 1024px;
    
   

}

.topo{
    width: auto;
    background-color: rgb(29, 26, 49);
    margin-top: 60px;
    padding:px; 
    
}

.logo{
    padding-top: 10px;
    float:left;
    margin-left: 200px;
    
}



.topo nav ul{
    text-align: right;
    margin: 0 50px 0 0;
    padding: 5px;
    

}

.topo nav li{
    display: inline-block;
    list-style: none;
    margin-left: 10px; 
}

.topo nav a{
    
    display: inline-block;
    padding: 15px;
    color: rgb(92, 83, 153);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    transition: color 0.2s linear;
    
    
}

.topo nav a:hover{
    color:rgba(255, 255, 255, 0.5)
}

.medium{
    
    text-align: center;
    margin-top: 0px;
    padding: 60px 80px 50px 80px;
    
    
}

.medium h1{
    font-size: 36px;
    color: #252525;

}

.medium p{
    font-size: 16px;
    line-height: 2;
    color: #555;
}

.gallery{
    
    padding: 0px 80px ;
    overflow: auto;
    margin-bottom: 80px;
}

.gallery-card{
    width: 33%;
    float: left;
    text-align: center;
}



.gallery h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    color: rgb(87, 84, 84);
    
}

.gallery p{
    color:grey;
    
}



.about{
    background-color: #003d52;
    color:white;
    background-image: url(../imagens/bg_detalhe.png);
    padding: 100px;
    background-position: right bottom;
    background-repeat: no-repeat;   
    
}

.about h2{
    font-weight: normal; 
    font-size: 50px;
    text-transform: uppercase;
    

}

.about p{
    line-height: 1.5;
    width: 60%;
    
    
    
}

#contact address{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    padding: 50px 0 ; 
    text-align: center;
    text-transform: uppercase;
    color:#003d52;
}

.rodape{
    font-size:12px;
    margin-top: 30px;
    margin-bottom: 60px; 
    width: 1024px;
    padding: 10px 0 ;
    background-color: black;
    color: rgb(97, 99, 202);
    letter-spacing: 4px;
    text-align: center;
}


